<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error:
      !isValidNumber() }" class="form-number clearfix" id="form-number" (keyup)="isValidNumber()" />
  </div>
  <div class="call-button" (click)="call()">
    Zadzwoń
  </div>
</div>
<div class="state">
  Status połączenia: {{ state }}
</div>
<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="mess" [ngClass]="{ error:
        !isInvalidMessage()}" class="form-number clearfix" id="form-message" (keyup)="isInvalidMessage()" />
  </div>
  <div class="call-button" (click)="sendMessage()">
    Wyślij
  </div>
</div>
<div [ngStyle]="{'width': '400px'}">
  Wiadomości
  <div *ngFor="let message of messages">
    <td [ngStyle]="{'width': '400px'}">
      <label
        [ngStyle]="{'float':message.userId === user ? 'right' : 'left'}">{{message.message}}</label>
    </td>
  </div>
</div>
